/* @import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');
 */
@import url("https://fonts.googleapis.com/css?family=Poppins:700|Golos Text:400");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style-type: none;
   
    /* outline: solid 1px red !important; */
}

/* Color theming */




body {
    height: 100%;
    background-color: var(--background);
    transition: background-color 300ms ease;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

main {
    height: 100dvh;
    padding: 0 1%;
    padding-top: 45px;
    position: relative;
}


/* Font Sizing */
:root {
    font-size: 12px;
}

body {
    font-family: 'Golos Text';
    font-weight: 400;

    & h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Poppins";
        font-weight: 700;

    }

    & h1 {
        font-size: 4.21rem;
        /* 67.36px */
    }

    & h2 {
        font-size: 3.158rem;
        /* 50.56px */
    }

    & h3 {
        font-size: 2.369rem;
        /* 37.92px */
    }

    & h4 {
        font-size: 1.777rem;
        /* 28.48px */
    }

    & h5 {
        font-size: 1.333rem;
        /* 21.28px */
    }

    & small {
        font-size: 0.75rem;
        /* 12px */
    }

}

/* Counter SVG's */

.adultoIcon,
.criancaIcon {
    mask: url(../assets/pessoas.png);
    mask-size: contain;
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-position: bottom;
    -webkit-mask: url(../assets/pessoas.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-mode: alpha;
    -webkit-mask-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: var(--text);
    position: relative;
}

.adultoIcon {
    height: 120px;
    width: 50px;
}

.criancaIcon {
    height: 80px;
    margin: 0 auto;
    width: 50px;
}

/* Header layout */

nav * {
    font-family: "Golos Text";
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--background, 0.5) rgb(102, 51, 153);
    transition: background-color 300ms ease;
    backdrop-filter: blur(2px);
    z-index: 399;

    & nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 7%;
        padding-top: 4px;
        align-items: center;
        z-index: 399;

        #logo {
            font-family: "Fugaz One", cursive;
            font-size: calc(var(--h4) + 0.9vw);
            color: var(--accent);
            text-decoration: none;
            text-align: center;
        }

        & ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            align-items: center;
            gap: 16px;

            & li {
                display: flex;
                align-items: center;

                & a {
                    color: var(--text);
                    font-size: var(--h5);
                    text-decoration: none;
                    height: 100%;
                }

                & button {
                    border: none;
                    border-radius: 90px;
                    cursor: pointer;
                    font-size: var(--h5);
                    color: var(--background);
                    background-color: var(--accent);
                    padding: 4px 24px;
                    transition: 300ms ease-in-out;

                    &:hover {
                        transition: 300ms ease;
                    }
                }
            }
        }
    }
}

/* Sections */

.Home {
    #titleContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        height: 100%;
        width: 100%;
        text-align: center;

        & h1 {
            font-family: "Fugaz One", cursive;
            font-size: calc(var(--h1) + 30px);
            color: var(--accent);
        }

        & h2 {
            width: 100%;
            font-size: calc(var(--h2) - 12px);
            color: var(--text);
            max-width: 500px;
            transition: 300ms ease;
            
           

        }

        #heroButtons {
            margin: 2rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;

            & a {
                text-decoration: none;
                cursor: pointer;
                font-family: "Golos Text";
                background-color: var(--accent);
                color: var(--background);
                border: none;
                font-size: var(--h4);
                padding: 7px 28px;
                border-radius: 90px;
            }

            #AboutBut {
                background-color: transparent;
                color: var(--text);
                border: 2px solid var(--text);

                &:hover {
                    background-color: var(--text);
                    border: 2px solid var(--text);
                    color: var(--background);
                }
            }
        }
    }
}

.Login {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */

    .loginWrap {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 16px;
        border-radius: 30px;
        overflow: hidden;
    }

    .loginBg {
        display: none;
        background-image: url(../assets/emerson-vieira-RO6Ke69Szhg-unsplash.jpg);
        flex: 1;
        min-height: 100%;
        background-size: cover;
    }

    .loginContainer {
        z-index: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 24px;
        padding: 16px;
        border-radius: 20px;
        background: var(--accent);
        width: 100%;
        

        & h2 {
            color: var(--background);
            font-size: var(--h3);
        }

        & form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;
            
            #loginSubmit{
                margin-top: 16px;
                cursor: pointer;
                transition: 300ms;
                &:hover{
                    transform: translateY(-4px);
                }
                &:active{
                    transform: scale(0.9)
                }
            }
            .input-group {
                display: flex;
                flex-direction: column;
                gap: 4px;
                
                & h5 {
                    font-size: var(--h5);
                    color: var(--background);}
            }
            
            & input {
                font-family: 'Golos Text';
                font-weight: 400;
                font-size: var(--h5);
                border: none;
                background-color: var(--text);
                border-radius: 40px;
                padding: 12px 16px;
                color: var(--background);

                &::placeholder {
                    color: var(--text);
                    filter: brightness(0.9);
                }

            }
        }
    }
}

.Calculator {
    justify-content: center;

    #container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 16px;
        min-height: 100%;


        .calcInnerWrap {
            max-width: 500px;

            display: flex;
            flex-direction: column;
            gap: 12px;
            text-align: center;
            justify-content: center;
            overflow: visible;

            & h2 {
                color: var(--text);
                font-size: var(--h3);
            }

            .ToResultBut {
                background-color: var(--accent);
                font-size: var(--h4);
                color: var(--background);
                margin: 16px auto;
                border: none;
                border-radius: 99px;
                padding: 7px 28px;
                text-decoration: none;
                cursor: pointer;
            }

        }

        .peopleContainer {
            display: flex;
            align-items: end;
            justify-content: center;
            width: 100%;
            flex-wrap: wrap;

            .inputContainer {
                display: flex;
                justify-content: space-between;
                align-items: end;
                gap: 12px;
                border: solid 0px var(--text);
                padding: 10px;
                border-radius: 18px;

                .inputValue {
                    color: var(--text);
                    text-align: center;
                    font-size: var(--h1);
                }

                .inputButtonsContainer {
                    margin-top: 4px;
                    display: flex;
                    border-radius: 99px;
                    border: solid 3px var(--text);
                    z-index: 2;
                }

                .inputControl {
                    background-color: var(--secondary);
                    color: var(--text);
                    font-size: var(--h3);
                    border: none;
                    height: 30px;
                    aspect-ratio: 1/1;
                    margin: 5px;
                    border-radius: 99px;
                    text-align: center;
                    line-height: 30px;
                    &:hover {
                        transform: scale(0.95);
                    }

                    &:active {
                        transform: scale(1.05);
                    }

                }
            }
        }

        .foodContainer,
        .drinksContainer {

            & h2 {
                margin: 12px 0;
                font-size: calc(var(--h2) - 5px);
                color: var(--text);
                font-size: var(--h3);
            }

            & ul {
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                gap: 8px;

                & li {
                    flex-grow: 1;
                    cursor: pointer;
                    color: var(--text);
                    height: fit-content;
                    padding: 4px 12px;
                    border-radius: 42px;
                    border: solid;
                    border-width: 2px;
                    border-color: var(--text);
                    transition: 300ms ease;

                    &:hover {
                        transform: scale(0.95);
                       
                    }
                }
            }
        }

    }
}

.Result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    .resultWrap{
        width: 100%;
        display: flex;
        border-radius: 30px;
        overflow: hidden;
    }
    .resultContainer {
        background-color: var(--text);
        color: var(--background);
        width: 100vw;
        border-radius: 10px 0 0 0;
        max-width: 400px;
        padding: 18px;
        height: 100%;
    }

    .resultBg{
        /* display: none; */
        background-image: url(../assets/emerson-vieira-RO6Ke69Szhg-unsplash.jpg);
        flex: 1;
        min-height: 100%;
        background-size: cover;
    }
}

/* Utility Classes */

.hover-up {
    transition: 300ms ease;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 20px 80px -5px var(--accent);
    }
}

.brighten {
    transition: 300ms ease;

    &:hover {
        filter: brightness(1.3);
    }
}

.checked {
    background-color: var(--secondary) !important;
    border:solid 2px  var(--secondary) !important;
    color: var(--text) !important;
    transition: 300ms ease;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

table {
    width: 100%;
}

.T-A-R {
    text-align: right;
}

.spanText {
    position: relative;
    color: var(--accent);
    height: 100px;
    

    &:before {
        
        content: "churr";
        opacity: 1;
        text-decoration: underline;
        transition: 300ms ease;
    }

    &:after {
        text-decoration: underline;
        
        content: "sure";
        transition: 300ms ease;
        display: none;

    }

    &:hover {
        transition: 300ms ease;

        &::after {
            display: inline-block;

        }

        &::before {
            display: none;
        }
    }
}


/*
 --primary: #f7d0c5;
    --secondary: #82341c;
    --accent: #d3471d;
    --text: #240c05;
    --background: #fef8f6;

--accent: #e2572c;
    --primary: #fae2db;
    --text: #e3957d;
    --secondary: #3a1308;
    --background: #140703;



--text: #000000;
--background: #e4f7f1;
--primary: #4f1727;
--secondary: #d0f1e8;
--accent: #bc385e;

[16:55]
--text: #061413;
--background: #e7f8f7;
--primary: #9f2d33;
--secondary: #ebe8b7;
--accent: #a72f35;

[16:57]
--text: #1e1110;
--background: #f6efee;
--primary: #7e473e;
--secondary: #ffba51;
--accent: #c53026;

[16:59]
--text: #efe2e1;
--background: #110a09;
--primary: #69291f;
--secondary: #ff6700;
--accent: #620903;

[16:59]
--text: #f5d8d6;
--background: #000000;
--primary: #69291f;
--secondary: #070618;
--accent: #620903; */